.body_music {
  height: 210px;
  width: 210px;
  background: url(/imgs/1.音乐/参商.png);
  background-size: cover;
  border-radius: 50%;
  margin: 34px 84px 0 84px;
}

.content_1_music {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 196px;
  padding: 0 40px;
  margin-top: 18px;
  font-family: PingFang-SC-Regular;
  width: 375px;
}

.body_music img{
  width: 60px;
  height: 60px;
  margin-left: 76px;
  margin-top: 76px;
}

.think_music{
  font-size: 17px;
  color: #0f0f0f;
  padding: 0 8px;
  text-align: center;

}

.pic_m{
  margin-top: -10px;
}